<!DOCTYPE html>
<html>
  <head>
    <title>Clockwork</title>

    <meta charset="utf-8" />

    <%= content_tag :style, nonce: request.content_security_policy_nonce_directives&.include?("style-src") ? content_security_policy_nonce : nil do %>
      body {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 20px;
        font-size: 14px;
        line-height: 1.4;
        color: #333;
      }

      a, a:visited, a:active {
        color: #428bca;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
      }

      th {
        text-align: left;
        border-bottom: solid 2px #ddd;
      }

      table td, table th {
        padding: 8px;
      }

      td {
        border-top: solid 1px #ddd;
      }

      .disabled {
        background-color: pink;
      }

      .width-15 {
        width: 15%;
      }

      .button-form {
        display: inline-block;
      }
    <% end %>
  </head>
  <body>
    <div class="container">
      <% if ClockworkWeb.redis %>
        <% if ClockworkWeb.monitor %>
          <% if ClockworkWeb.multiple? %>
            <p>Multiple clockwork processes detected</p>
          <% elsif ClockworkWeb.running? %>
            <p>Clockwork is running</p>
          <% else %>
            <p>
              Clockwork is not running
              <% if @last_heartbeat %>
                - last heartbeat was <%= time_ago_in_words(@last_heartbeat) %> ago
              <% end %>
            </p>
          <% end %>
        <% end %>
      <% else %>
        <p>Add Redis for monitoring and disabling jobs</p>
      <% end %>

      <table>
        <thead>
          <tr>
            <th>Job</th>
            <th class="width-15">Period</th>
            <th class="width-15">Last Run</th>
            <th class="width-15">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <% enabled = !@disabled.include?(event.job) %>
            <tr class="<%= enabled ? "" : "disabled" %>">
              <td><%= event.job %></td>
              <td>
                <%= friendly_period(event.instance_variable_get(:@period)) %>
                <% at = event.instance_variable_get(:@at) %>
                <% if at %>
                  at <%= friendly_time_part(at.instance_variable_get(:@hour)) %>:<%= friendly_time_part(at.instance_variable_get(:@min)) %>
                <% end %>
                <% if event.instance_variable_get(:@if) %>
                  if __
                <% end %>
              </td>
              <td><%= last_run(@last_runs[event.job]) %></td>
              <td>
                <%= button_to enabled ? "Disable" : "Enable", home_job_path(job: event.job, enable: !enabled), disabled: !ClockworkWeb.redis, form_class: 'button-form' %>
                <%= button_to "Run now", home_execute_path(job: event.job), disabled: !ClockworkWeb.redis, form_class: 'button-form' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
